* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
body {
  background-color: rgb(6, 6, 32);
  color: #fff;
  width: 100%;
}
//header styling starts here
.header {
  background-color: #312f2f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .nav-container {
    display: flex;
    align-items: center;
    // margin: 0 8rem;
    padding: 1.3rem 0.5rem;
    .logo-pane {
      margin-right: auto;
      .logo-text {
        a {
          font-size: 2.4rem;
          font-family: "baumans";
          font-weight: 600;
          background: linear-gradient(
            to right,
            rgb(244, 16, 16),
            rgb(196, 232, 13)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .navbar {
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      a {
        font-size: 2rem;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        text-transform: capitalize;
        font-family: verdana;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover {
          color: yellow;
          text-decoration: underline;
          text-underline-offset: 0.5rem;
        }
        &.stage {
          border-bottom: 3px solid blue;
          border-radius: 2px;
        }
      }
    }
    .icons {
      cursor: pointer;
      display: none;
    }
  }
}

//header styling ends here

//hero styling starts here
.hero {
  margin-top: 3rem;
  padding: 2rem 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(13, 98, 202, 0.2), rgba(203, 225, 8, 0.2)),
    url(../../public/assets/bg-image.png);
  background-position: center;
  background-size: cover;
  object-fit: fill;

  .center {
    padding-top: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .hero-text {
      padding-top: 2.6rem;
      font-size: 3.7rem;
      font-family: verdana;
      letter-spacing: 0.4rem;
      text-shadow: 0.1rem 0.25rem rgba(91, 234, 75, 0.683);
      background: linear-gradient(
        to right,
        rgb(244, 16, 16),
        rgb(192, 232, 13)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .img-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 450px;
      transform: translateY(-30px);
      padding: 0 0.6rem;

      img {
        width: 100%;
      }
    }
  }
}
//hero tyling ends here

//menu styling starts here
.menu {
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  .wrapper {
    padding: 2rem 0;
    .section-heading {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      .section-title {
        padding-bottom: 1rem;
        font-size: 2.7rem;
        font-family: tahoma;
        background: linear-gradient(
          to right,
          rgb(244, 16, 16),
          rgb(13, 64, 232)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 1rem;
      padding-top: 1rem;

      .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #aaa;
        padding: 1rem 0.6rem;
        border-radius: 1.5rem;
        flex-direction: column;

        .card-header {
          padding: 0.7rem;
          text-align: center;
          width: 100%;
          // background-color: #312f2f;

          .food-item-name {
            color: rgb(0, 170, 255);
            padding: 1rem 0;
            font-size: 1.8rem;
            font-weight: 600;
          }
          .price {
            color: rgb(255, 81, 0);
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
        .card {
          overflow: hidden;
          padding-top: 1rem;
          img {
            width: 100%;
            padding: 0.5rem;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
//menu styling ends here

//specials styling starts here
.specials {
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;

  .wrapper {
    padding: 2rem 0;
    .section-heading {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      .section-title {
        padding-bottom: 1rem;
        font-size: 2.7rem;
        font-family: tahoma;
        background: linear-gradient(
          to right,
          rgb(244, 16, 16),
          rgb(13, 64, 232)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 1rem;
      padding-top: 1rem;

      .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #aaa;
        padding: 0.6rem;
        border-radius: 1.5rem;
        flex-direction: column;

        .card {
          padding-top: 1rem;
          overflow: hidden;
          img {
            width: 100%;
            padding: 0.5rem;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .card-bottom {
          .item-name {
            color: #ccb6df;
            font-weight: 600;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0;
          }
          .was {
            color: #ccc;
            text-decoration: line-through;
          }
          .now {
            color: rgb(234, 224, 33);
            padding: 0.4rem 0;
            font-weight: 600;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
//specials styling ends here

//latest styling starts here
.latest {
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;

  .wrapper {
    padding: 2rem 0;
    .section-heading {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      .section-title {
        padding-bottom: 1rem;
        font-size: 2.7rem;
        font-family: tahoma;
        background: linear-gradient(
          to right,
          rgb(244, 16, 16),
          rgb(13, 64, 232)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 1rem;
      padding-top: 1rem;

      .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #aaa;
        padding: 0.6rem;
        border-radius: 1.5rem;
        flex-direction: column;

        .card {
          padding-top: 1rem;
          overflow: hidden;
          img {
            width: 100%;
            transition: all 0.5s ease-in-out;
            padding: 0.5rem;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .card-bottom {
          .item-name {
            color: #dfb6bd;
            font-weight: 600;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0;
          }

          .was {
            color: #ccc;
            text-decoration: line-through;
          }

          .now {
            color: rgb(234, 224, 33);
            padding: 0.4rem 0;
            font-weight: 600;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
//latest styling ends here

//Reviews styling starts here
.reviews {
  padding: 2rem;
  margin-top: 2rem;

  .wrapper {
    padding: 2rem 0;

    .review-heading {
      display: flex;
      align-items: center;
      justify-content: center;

      .review-heading-text {
        padding-bottom: 1rem;
        font-size: 2.7rem;
        font-family: tahoma;
        background: linear-gradient(
          to right,
          rgb(244, 16, 16),
          rgb(13, 64, 232)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .review-flex {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 1.3rem;
      padding-top: 1rem;
      .review {
        border: 0.1rem solid #aaa;

        .top-pane {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 0.5rem;
          .profile-img {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1rem;
            img {
              width: 120px;
              height: 123px;
              padding: 0.8rem;
              border-radius: 50%;
            }
          }
          .profile-name {
            .reviewer-name {
              font-size: 1.3rem;
              font-weight: 500;
              color: aqua;
              font-family: verdana;
            }
          }
        }

        .bottom-pane {
          padding: 0.7rem;
          .review-content {
            font-size: 1.5rem;
            font-weight: 500;
            color: #ccc;
            font-family: tahoma;
            line-height: 1.4;
          }
          .ratings {
            text-align: center;
            padding: 0.6rem 0;
            color: orange;
            font-size: 1.3rem;
            font-family: verdana;

            span {
              color: lightgreen;
            }
          }
        }
      }
    }
  }
}
//Reviews styling ends here

//Contact us styling starts here
.contact {
  padding: 2rem;
  margin-top: 2rem;

  .wrapper {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .contact-heading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .sub-text {
        font-size: 1.6rem;
        padding: 1rem 0.6rem;
        color: #ccc;
        font-weight: 500;
      }
      .addr {
        color: #aaa;
        font-size: 1.4rem;
        font-family: verdana;
      }
      .contact-heading-text {
        padding: 0.5rem;
        font-size: 2.7rem;
        font-family: tahoma;
        background: linear-gradient(
          to right,
          rgb(244, 16, 16),
          rgb(13, 64, 232)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .contact-form {
      padding: 0.7rem 0;
      .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        .input-area {
          width: 100%;
          .form-controll {
            margin: 0.6rem 0;
            width: 100%;
            background: transparent;
            outline: none;
            border: 1px solid #aaa;
            padding: 1rem;
            color: #fff;
            font-size: 1.7rem;

            &:focus {
              border: 1.5px solid blue;
            }
          }
        }
      }

      .submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.6rem;
        .btn {
          padding: 0.8rem 1rem;
          background: blue;
          border-radius: 1.9rem;
          outline: none;
          border: none;
          font-size: 1.5rem;
          cursor: pointer;
          font-weight: 600;
          color: #ccc;
          width: 130px;
          text-transform: capitalize;
          transition: all 0.5s ease-in-out;

          &:hover {
            transform: translateY(-10px);
            background-color: rgb(17, 142, 243);
            color: #fff;
          }
        }
      }
    }
  }
}
//contact us styling ends here

//footer styling starts here
.footer {
  text-align: center;
  padding: 0.8rem 1.2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  .copy-right {
    font-size: 1.6rem;
    font-weight: 400;
    color: #ccc;
    font-family: sans-serif;
    padding: 0.6rem 0;
  }
  .social-text {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: tahoma;
    color: #ccc;
    padding: 0.5rem 0;
  }
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    a {
      text-decoration: none;
      outline: none;
      border: none;
      cursor: pointer;

      img {
        width: 4rem;
        padding: 0.4rem 0.2rem;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
//footer styling ends here

// MEDIA QUERIES -- common break points 480px, 768px, 1024px, 1280px

// 1024px break point
@media screen and (max-width: 1280px) {
  .header {
    .nav-container {
      margin: 0 8.5rem;

      .logo-pane {
        .logo-text {
          a {
            font-size: 2.8rem;
          }
        }
      }

      .navbar {
        a {
          font-size: 1.9rem;
        }
      }
    }
  }
  //menu styling
  .menu {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }

  //specials styling
  .specials {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }

  //latest styling
  .latest {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }
}

// 1024px break point
@media screen and (max-width: 1024px) {
  .header {
    .nav-container {
      margin: 0 4.8rem;

      .logo-pane {
        .logo-text {
          a {
            font-size: 2.5rem;
          }
        }
      }

      .navbar {
        a {
          font-size: 1.7rem;
        }
      }
    }
  }

  //menu styling
  .menu {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      }
    }
  }

  //specials styling
  .specials {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      }
    }
  }

  //latest styling
  .latest {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      }
    }
  }
}

// 768px break point
@media screen and (max-width: 768px) {
  //header media query
  .header {
    .nav-container {
      margin: 0 2rem;

      .logo-pane {
        .logo-text {
          a {
            font-size: 2.8rem;
          }
        }
      }

      .navbar {
        position: absolute;
        top: 99.9%;
        left: 0;
        right: 0;
        background-color: #312f2f;
        display: block;
        text-align: center;
        border-top: 1px solid #ccc;
        transition: all 0.5s ease-in-out;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        a {
          display: block;
          font-size: 1.8rem;
          padding: 1rem 0;
          transition: all 0.5s ease;

          &:hover {
            background-color: #7d6c6c;
            text-decoration: none;
          }
        }
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        .fa-bars {
          display: block;
          .bars-line {
            width: 32px;
            height: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 0;
            background-color: #fff;
            border-radius: 10px;
          }
        }
        .fa-times {
          display: none;
          border: 1px solid red;
          position: relative;
          &.open {
            display: inline-block;
            .times-line {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 5px 0;
              width: 32px;
              height: 4px;
              background-color: #fff;
              border-radius: 10px;
            }
            #X {
              position: absolute;
              transform: rotate(45deg);
              top: -6px;
              right: 3.7%;
            }
            #Y {
              position: absolute;
              transform: rotate(-45deg);
              top: -6px;
              right: 3.7%;
            }
          }
        }
      }
    }
  }
  //hero styling
  .hero {
    .center {
      .hero-text {
        font-size: 2.9rem;
      }
      .img-box {
        width: 300px;
      }
    }
  }

  //menu styling
  .menu {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px));
      }
    }
  }

  //specials styling
  .specials {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px));
      }
    }
  }

  //latest styling
  .latest {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px));
      }
    }
  }
}

@media (max-width: 480px) {
  //   header media query styles starts here
  .header {
    .nav-container {
      margin: 0 1rem;

      .logo-pane {
        .logo-text {
          a {
            font-size: 2.8rem;
          }
        }
      }

      .navbar {
        a {
          font-size: 1.7rem;
        }
      }
    }
  }

  //header media query styles ends here
}
