* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
body {
  background-color: rgb(6, 6, 32);
  color: #fff;
  width: 100%;
}
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6);
}
body::-webkit-scrollbar-thumb {
  background-color: blue;
  outline: 1px solid rgb(0, 106, 255);
  border-radius: 1rem;
}

//Contact us styling starts here
.contact {
  padding: 2rem;
  margin-top: 2rem;

  .wrapper {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .contact-heading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .sub-text {
        font-size: 1.6rem;
        padding: 1rem 0.6rem;
        color: #ccc;
        font-weight: 500;
      }
      .addr {
        color: #aaa;
        font-size: 1.4rem;
        font-family: verdana;
      }
      .contact-heading-text {
        padding: 0.5rem;
        font-size: 2.7rem;
        font-family: tahoma;
        background: linear-gradient(
          to right,
          rgb(244, 16, 16),
          rgb(13, 64, 232)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .contact-form {
      padding: 0.7rem 0;
      .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        .input-area {
          width: 100%;
          .form-controll {
            margin: 0.6rem 0;
            width: 100%;
            background: transparent;
            outline: none;
            border: 1px solid #aaa;
            padding: 1rem;
            color: #fff;
            font-size: 1.7rem;

            &:focus {
              border: 1.5px solid blue;
            }
          }
        }
      }

      .submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.6rem;
        .btn {
          padding: 0.8rem 1rem;
          background: blue;
          border-radius: 1.9rem;
          outline: none;
          border: none;
          font-size: 1.5rem;
          cursor: pointer;
          font-weight: 600;
          color: #ccc;
          width: 130px;
          text-transform: capitalize;
          transition: all 0.5s ease-in-out;

          &:hover {
            transform: translateY(-10px);
            background-color: rgb(17, 142, 243);
            color: #fff;
          }
        }
      }
    }
  }
}
//contact us styling ends here

//footer styling starts here
.footer {
  text-align: center;
  padding: 0.8rem 1.2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  .copy-right {
    font-size: 1.6rem;
    font-weight: 400;
    color: #ccc;
    font-family: sans-serif;
    padding: 0.6rem 0;
  }
  .social-text {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: tahoma;
    color: #ccc;
    padding: 0.5rem 0;
  }
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    a {
      text-decoration: none;
      outline: none;
      border: none;
      cursor: pointer;

      img {
        width: 4rem;
        padding: 0.4rem 0.2rem;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
//footer styling ends here
