.specials {
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;

  .wrapper {
    padding: 2rem 0;
    .section-heading {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      .section-title {
        padding-bottom: 1rem;
        font-size: 2.7rem;
        font-family: tahoma;
        background: linear-gradient(
          to right,
          rgb(244, 16, 16),
          rgb(13, 64, 232)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 1rem;
      padding-top: 1rem;

      .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #aaa;
        padding: 0.6rem;
        border-radius: 1.5rem;
        flex-direction: column;

        .card {
          padding-top: 1rem;
          overflow: hidden;
          img {
            width: 100%;
            padding: 0.5rem;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .card-bottom {
          .item-name {
            color: #ccb6df;
            font-weight: 600;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0;
          }
          .was {
            color: #ccc;
            text-decoration: line-through;
          }
          .now {
            color: rgb(234, 224, 33);
            padding: 0.4rem 0;
            font-weight: 600;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

// MEDIA QUERIES -- common break points 480px, 768px, 1024px, 1280px
// 1500px break point
@media screen and (max-width: 1500px) {
  .specials {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }
  }
}
// 1024px break point
@media screen and (max-width: 1280px) {
  .specials {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      }
    }
  }
}

// 1024px break point
@media screen and (max-width: 1024px) {
  .specials {
    .wrapper {
      .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px));
      }
    }
  }
}

// @media (max-width: 480px) {}
